<section>
  <p><%= link_to 'Back to main site', root_path %></p>
  <% if defined?(header) %>
    <h1><%= header %></h1>
  <% end %>
  <% if defined?(paragraph) %>
    <p><%= paragraph %></p>
  <% end %>
  <% if defined?(image) %>
    <img data-src="<%= image %>">
  <% end %>  
</section>