<div class="jumbotron jumbotron-fluid home">
  <h1 class="display-4 text-center">Schmoellmania 2018</h1>
  <p class="lead text-center">We can’t wait to celebrate our big day with you! Until then, RSVP below, and take some time exploring our site to learn a little bit more about us and the celebration.</p>
  <p class="lead text-center">
    <%= link_to 'RSVP', rsvp_path, class: 'btn btn-primary btn-white btn-lg' %>
  </p>
</div>


<div class="jumbotron jumbotron-fluid story-holder text-center" style="color: white;">
  <h1 class="display-4 text-center">Our story</h1>
  <p class="lead text-center">Watch a slideshow of our story.</p>
  <%= link_to 'View Slideshow', reveal_path, class: 'btn btn-primary btn-white btn-lg' %>
</div>