<div class='container wedding-details'>
  <div class="row">
    <div class="col-12 col-lg-8"> 
      <dl class="row">
        <dt class="col-sm-4">When</dt> 
        <dd class="col-sm-8">
          <p class="lead"> 
            The Wedding will be taking place at <strong><mark>3:30 PM</mark></strong> on. <strong><mark>Saturday April 21st</mark></strong>,<strong><mark> 2018</mark></strong>.
          </p>
        </dd> 
      </dl> 
      <dl class="row">
        <dt class="col-sm-4">Where</dt> 
        <dd class="col-sm-8">
          <p class="lead"> 
            <strong><mark>Abbott Manor</strong></mark>, 40350 Camino Del Vino, Temecula, CA 92592 <a href="https://www.google.com/maps/dir/''/Abbott+Manor,+40350+Camino+Del+Vino,+Temecula,+CA+92592/data=!4m5!4m4!1m0!1m2!1m1!1s0x80db78555da5f023:0xcaa7499d3e81185e?sa=X&ved=0ahUKEwjn0MWrpPXYAhXOulMKHbxVAh4Q9RcIhQEwCw">Directions</a>
          </p>
        </dd> 
      </dl>
      <dl class="row">
        <dt class="col-sm-4">Who</dt> 
        <dd class="col-sm-4">
          <h3>Bridesmaids:</h3>
          <p>Leah Wolf  <small><u>Maid of Honor</u></small></p>
          <p>Columbia Shafer</p>
          <p>Emily Mofford</p>
          <p>Emily Ostrove</p>
          <p>Nina Lindsay</p>
          <p>Hien Than</p>
          <p>Megan Coleman</p>
          <p>Sonia Marshall</p>
        </dd> 
        <dd class="col-sm-4">
          <h3>Groomsmen:</h3>
          <p>Keegan Coleman    <small><u>Best Man</u></small></p>
          <p>Matt Rose</p>
          <p>Troy Cisneros</p>
          <p>Michael O'toole</p>
          <p>Jack Stabenfeldt</p>
          <p>Patrick Fish</p>
          <p>Kenji Hammon</p>
          <p>Christian Erwin</p>
        </dd> 
      </dl>  
    </div>
    <div class="col-12 col-lg-4">
      <iframe width="100%" height=400 frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJI_ClXVV424ARXhiBPp1Jp8o&key=AIzaSyCDsEH_-1bv_2i7SOWKGpIB1Z7pGxFk9Ss" allowfullscreen></iframe>
    </div> 
  </div>
  <hr />
  <div class="row">
    <div class="col-sm-8">
      <dl class="row">
        <dt class="col-sm-4">Accommodations</dt> 
        <dd class="col-sm-8">
          Coming soon...
        </dd> 
      </dl> 
    </div>
    <div class="col-sm-4">
    </div>
  </div>
</div>